{% extends 'base.html' %}


{% block content %}

    <h1>Наша продукция</h1>
    {% for product in products %}
    <div class="col-md-4 col-sm-6 col-xs-12">
        <h3><a href="{% url 'product' product.id %}">{{ product.title }}</a></h3>
        <img src="{{ product.get_img }}" alt="{{ product.img }}" width=300 height="220">
        <p>Цена: {{ product.price }}</p>
        <button class="btn btn-primary add_item" data-item_id="{{ product.id }}">В корзину</button>
    </div>
    {% endfor %}

{% endblock %}